/* *{
margin: 0;
padding: 0;
} */

a{
    /* most a(link tags) are styled globally to remove their default styles */
    text-decoration: none;
    color: #000;
}
a:hover{
    /* a tags come with their own hover effect when pointed at, we can set thei color to be different when hovered */
    color: red;
}
 a:active{
    color: green;
 }

 .button{
    background-color:#333 ;
    color: #fff;
    padding: 10px 15px;
    border-radius: 15px;
 }

 .button:hover{
    background-color: green;
 }

 .clr{
    clear: both;
 }



/* preferred body styling 16px is the default font size of the texts in the html*/
body {
    background-color: #f4f4f4;
    color: #555555;
    /* font-family: Comic Sans MS;
    font-size: 16px;
    font-weight:normal;
    we deal with fonts in one line */
    font: normal 16px Comic Sans MS;
    line-height: 1.6em;
    /* sorts the separation of one text line and the next em is preferred for responsiveness */
    margin: 0;
}

.container {
    /* this helps us push content inside */
    /* when we use px it wont be responsive as screen becomes smaller, instead use a percentage */
    width: 95%;
    /* margin is spacing around an element */
    /* padding is the space between the content and the border while margin is the space outside the border */
    margin: auto;
}

.box-1 {
    background-color: #333;
    color: whitesmoke;
    border: 5px red solid;
    /* would be the same as saying border right left bottom and top and giving the instructions */
    border-width: 2px;
    padding: 20px;
    margin: 20px;
}

.box-1 h1{
    text-decoration: underline;
    letter-spacing: 0.2em;
    font-style: oblique;
}

.box-2 {
    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px 0;
}

.categories {
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}

.categories h2 {
    text-align: center;
}

.categories ul{
    /* ul come with their own padding so to disabe it we set it to 0 */
    padding: 0;
    list-style: none;
}
.categories li{
    padding-bottom: 6px;
    border-bottom: dotted 1px #333;
    /* you can set it to a background image, as */
    /* list-style-image: url(link to image); */
}

.my-form{
    padding: 20px;
    border: 1px solid #000;
    border-radius: 20px;
    margin: 20px 0;
    background-color: rgb(176, 173, 173);
}

.my-form .form-group{
    padding-bottom: 15px;
}

.my-form label{
    display: block;
}

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 90%;
    border: 1px solid #000;
    border-radius: 10px;
}

.block{
    float: left;
    width: 33.3%;
    border: 1px solid #000;
    padding: 10px;
    box-sizing: border-box;
}

#main-block{
   float: left; 
   width: 60%;
   box-sizing: border-box;
   margin: 20px 0;
   border: 1px solid red;
   padding: 15px;
   border-radius: 20px;
}

#side-bar{
    float: right; 
    width: 38%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
    margin: 20px 0;
 }
 .p-box{
    width: 800px;
    height: 500px;
    border: 1px solid #000;
    margin-top: 30px;
    position: relative;
    background-image: url(practice\ image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
 }

 .p-box h1{
    position: absolute;
    top: 100px;
    left: 200px;
 }

 .p-box h2{
    position: absolute;
    bottom: 40px;
    right: 100px;
 }

 .fix-me{
    /* //popular for navbars so that their position is always fixed no matter where you at in the page */
    position: fixed;
    top: 400px;
 }

 .my-list li:first-child{
    background: red;
 }

.my-list li:last-child{
    background: greenyellow;
}


.my-list li:nth-child(even){
    background: grey;
}
